fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9

# Core
numpy==1.26.3
pillow==10.4.0
requests>=2.31.0
python-dotenv==1.0.1
packaging==24.1

# Firebase
firebase-admin==6.5.0

# FAISS (vector search)
faiss-cpu==1.8.0

# Torch CPU wheels FIRST (very important)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu

# Vision model
timm==0.9.16